In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

from orthogonal import discrete_choice

ModuleNotFoundError: No module named 'orthogonal'

In [5]:
zodiacus = pd.read_csv('zodiacus.txt', names=['code'])

In [6]:
#zodiac.sort_values(['code'], inplace=True)
zodiacus['block'] = range(1, 13)

In [14]:
file = 'input_values.xlsx'
out_file = 'orthogonal_arrays.xlsx'

book = load_workbook(file)

segments = ['bus', 'modes']

def get_oa(sheet_name, blocks=None, *args, **kwargs):
    
    # without blocks
    frame = pd.read_excel(file, sheet_name=sheet_name)
    factors = {
        name: list(frame[name].dropna())
        for name in frame.columns

    }
    if blocks is not None:
        factors.update({'block': range(1, blocks+1)})
        
    oa = discrete_choice.orthogonal_array(factors, verbose=True)
    if blocks is not None:
        oa = oa.sort_values('block').reset_index(drop=True)
    oa['index'] = range(1, len(oa)+1)
    if blocks is not None:
        oa = pd.merge(oa, zodiacus, on='block', how='left')

    return oa

def write_oa(sheet_name, *args, **kwargs):
    oa = get_oa(sheet_name, *args, **kwargs)

    with pd.ExcelWriter(out_file, engine='openpyxl') as writer:
        writer.book = book
        oa.to_excel(writer, sheet_name='oa_' + sheet_name, index=False)
        writer.save()

# EXAMPLE

In [59]:
oa_example = get_oa(sheet_name='costs',blocks=12)
oa_example.head()

required array class:
{4: 8, 12: 1}
available array classes (using first one):
50    {4: 12, 12: 1}
Name: exponents, dtype: object

,time_a,time_b,cost_a,cost_b,transfers_a,transfers_b,waiting_time_a,waiting_time_b,block,index,code
0,15,15,3,3,0,0,0,0,1,1,aries
1,45,45,10,10,0,0,5,5,1,2,aries
2,30,30,5,5,1,1,2,2,1,3,aries
3,60,60,20,20,1,1,8,8,1,4,aries
4,45,45,10,3,0,0,2,2,2,5,taurus

___
# «costs» sheet
The cost, number of transfers and waiting time values are provided in the input spreadsheet

In [49]:
df = get_oa('costs', blocks=12)
costs = ['time', 'cost', 'transfers', 'waiting_time']

# DROP OBVIOUS SCENARIOS
cost_delta = []
for cost in costs:
    df[cost + '_delta'] = df[cost+'_b'] - df[cost+'_a'] 
    cost_delta.append(cost + '_delta')
    
df['usefull'] = (df[cost_delta].T.min() < 0) & (df[cost_delta].T.max() > 0)
df = df.loc[df['usefull'] == True]

df.drop(cost_delta + ['usefull', 'code'], axis=1, inplace=True, errors='ignore')

# ADD INDEX AND BLOCK INDEX
df.reset_index(drop=True, inplace=True)
df['index'] = df.index + 1

block_len = 4
df['block'] = (df.index / block_len + 1).astype(int)
oa_costs = df.copy()

required array class:
{4: 8, 12: 1}
available array classes (using first one):
50    {4: 12, 12: 1}
Name: exponents, dtype: object

# «modes» sheet
The bus time and cost values are provided in the spreadsheet.
The other modes' levels of service are built from ratios.

In [52]:
# ORTHOGONAL ARRAY BUILT
df = get_oa('modes', blocks=12)

# AVAILABILITY
df['availability_motorcycle'] = True
df['availability_bajaj_contract'] = True

# LEVELS OF SERVICE AND 
df['motorcycle_time'] = df['bus_time'] * df['motorcycle_ratio']
df['bicycle_time'] = df['bus_time'] * df['bicycle_ratio']
df['walking_time'] = df['bicycle_time'] * df['walking_ratio']
df['bajaj_contract_time'] = df['bus_time'] * df['bajaj_contract_ratio']
df['bajaj_time'] = df['bus_time'] * df['bajaj_ratio']

df.loc[df['bajaj_contract_time'] > df['bajaj_time'], 'bajaj_contract_time'] = 0
#df.loc[df['motorcycle_time'] > df['bajaj_time'], 'motorcycle_time'] = 0

oa_modes = df.copy()

required array class:
{4: 9, 12: 1}
available array classes (using first one):
50    {4: 12, 12: 1}
Name: exponents, dtype: object

# Writing Arrays

In [53]:
frames = pd.read_excel('input_values.xlsx', sheet_name=None)
frames['oa_costs'] = oa_costs

In [54]:
frames['oa_modes'] = oa_modes[[
    'bus_time', 'bus_cost', 'bajaj_contract_time', 'bajaj_contract_cost',
    'bajaj_time', 'bajaj_cost',
    'walking_time', 'bicycle_time',
    'index', 'block'
]].astype(int)
frames['oa_modes']['code'] = df['code']

In [55]:
with pd.ExcelWriter(out_file, engine='xlsxwriter') as writer:
    for key, value in frames.items():
        value.to_excel(writer, sheet_name=key)